.main {
  background: #fff;
}
.textBox {
  width: 485px;
  margin: 0;
  margin-bottom: 50px;
}
.textBox span {
  color: #828282;
}
.textBox h2 {
  color: #2f71fd;
}
.textContent {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.button {
  background: #65fadd;
  height: 45px;
  width: 200px;
  text-align: center;
  border-radius: 6px;
}
.imgBox {
  width: 55%;
  height: 70%;
}
.banner {
  width: 100%;
  margin-left: auto;
}
.mainContent {
  display: flex;
  justify-content: end;
}
.timer {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  width: 100%;
  height: 100%;
  background: #a563f0;
  color: #fff;
}
.clock {
  color: #65fadd;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: 7px;
}
.courses span {
  color: #000;
  font-weight: 500;
}

.coursesSection {
  margin: 0;
  width: 1200px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
