:root {
  font-family: "Poppins", sans-serif;
}
button {
  font-family: "Poppins", sans-serif;
  background: transparent;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
